name: trivy

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  job-trivy:
    name: Run trivy for license check
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod

      - name: Run trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scanners: 'license'
          target: '.'
          format: 'table'
          exit-code: '1'
          severity: 'UNKNOWN,MEDIUM,HIGH'
